/* style.css */

body {
	color: #2E2E2E;
	font-size: 18px;
	background-color: #272727;
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}



/*banner styles start here*/
.figure {
	display: inline-block;
	vertical-align: top;
}

#banner {
	background-color: #FEE9E6;
	background-size: cover;
	margin: 0 auto;
	background-position: center;
	text-align: center;
	padding-top: 160px;
	padding-bottom: 20px;
	line-height: normal;
	height: ;
	width: 1350px;
	height: 470px;
	margin: 0 auto;
}

#banner {
	display: grid;
	grid-template-columns: 50% 50%;
}

#hi {
	text-align: center;
	font-family: Source Sans Pro;
	color: #2E2E2E;
	font-weight: bold;
	font-size: 24px;
}

#name {
	font-family: Raleway;
	color: #F4A47C;
	font-weight: bold;
	font-size: 70px;
}

#description {
	text-align: center;
	font-family: Source Sans Pro;
	color: #2E2E2E;
	font-size: 24;
	padding-bottom: 30px;
	font-weight: bold;
	background-color: #FEE9E6;
}

#textbanner {
	float: left;
	padding-bottom: 20px;
	padding-left: 140px;
	padding-top: 25px;
}

#imagebanner {
	text-align: center;
	border-radius: 20px 25%;
	padding-top: 60px;
	padding-right: 20px;
}


/*boxes styles start here*/


#boxes {
	display: grid;
	grid-template-columns: 25% 25% 50%;
	grid-gap: 1px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 40px;
	margin-top: 80px;
	padding: 10px;
	text-align: left;
	text-decoration: none;
	z-index: 1;
}

.box1 {
	background-color: #393939;
	margin: 5px;
	padding: 40px;	
}

.box2 {
	background-color: #393939;
	margin: 5px;
	padding: 40px;	
}

.box3 {
	background-color: #FEE9E6;
	margin: 5px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
}

.headingbig {
	font-family: Raleway;
	font-size: 50px;
	color: #F4A47C;
}

#boxes a {
	color: #FEE9E6;
	text-decoration: none;
	font-family: Source Sans Pro;
	font-weight: bold;
	font-size: 24px;
}

#boxes ul {
	list-style: none;
	text-align: left;
	font-family: Source Sans Pro;
	color: #FEE9E6;
	padding-top: 40px;
	padding-left: 8px;
	font-size: 20px;
}

#aboutmetext {
	font-family: Source Sans Pro;
	color: #272727;
	font-size: 20px;
	font-weight: bold;
}

.boximage,
span {
	vertical-align: middle;
}

.boximage {
	padding-bottom: 3px;
	margin: 0px;
	padding-left: 0px;
}

/*content projects styles start here*/

#content {
	text-align: center;
}

.headingbig {
	text-align: center;
	padding-top: 40px;
}

.description-project {
	text-align: center;
	font-family: Source Sans Pro;
	color: #FEE9E6;
	font-size: 20px;
	padding-right: 50px;
	padding-left: 50px;
}

#content-projects {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 1px;
	margin: 40px;
	padding: 30px;
}

#portfolio-image {
	padding-right: 80px;
	padding-left: 50px;
	float: right;
}

/*content skills styles start here*/

.description-skills {
	font-family: Source Sans Pro;
	color: #FEE9E6;
	font-size: 20px;
	text-align: center;
}

.description-learning {
	font-family: Source Sans Pro;
	color: #FEE9E6;
	font-size: 20px;
	text-align: center;
}

#content-skills {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 1px;
	margin: 40px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}

#content-skills img {
	padding-top: 20px;
}

#html{
	padding-right: 20px;
}


/*navigation styles start here*/

.hero {
	background-color: #393939;
	height: 15vh;
	color: #FEE9E6;
	font-size: 40px;
}

nav {
	display: flex;
	justify-content: space-between;
}

nav ul {
	display: flex;
	list-style-type: none;
	width: 500px;
	justify-content: space-around;
	font-size: 24px;
	padding-top: 30px;
}


nav li a {
	width: 200px;
	text-decoration: none;
	font-family: ;
	font-style: none;
	font-family: Source Sans Pro;
	font-weight: bold;
	color: #FEE9E6;
}


.logonav {
	height: 80px;
	margin: 5px;
}

.links:hover {
	color: #F4A47C;
}

.hamburger {
	display: none;
}

.hamburger:focus{
	outline: 0;
}

@media only screen and (max-width: 1000px) {
	.hamburger {
		display: block
		border: 0;
		background-color: transparent;
		padding-right: 10px;
		font-size: 30px;
		margin: 20px;
		align-self: flex-end;
	}

	.nav ul {
		display: none;
		background-color: #393939;
		margin: 0px;
	}

	nav {
		display: flex;
		flex-direction: column-reverse;
	}
}

.nav ul.show {
	display: block;
}

nav {
	align-items: flex-start;
}



/*
header {
	width: 86%;
	height: 130px;
	position: fixed;
	background-color: #393939;
	box-shadow: rgba(0, 0, 0, 0.1);
	z-index: 2;
	z-index: 1;
	float: left;
}

header nav{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	margin-left: 10px;
	margin-right: 40px;
	padding: 5px;
	padding-top: 28px;
	text-align: left;
	background-color: #393939;
}


header .section {
	text-align: center;
	min-height: 100%;
}

header a {
	text-decoration: none;
}

header li {
	list-style-type: none;
}

header {
	float: right;
}

header a {
	color: #FEE9E6;
	text-decoration: none;
	font-family: Source Sans Pro;
	font-size: 24px;
	padding-right: 15px;
}


.material-icon {
	margin-right: 8px;
	padding-left: 20px;
}

.icon-text {
	padding-right: 20px;
	padding-left: 5px;
}

.material-icon,
.icon-text {
	vertical-align: middle;
}


.icon-text:hover {
	color: #F4A47C;
}

*/


/*footer styles start here*/

footer {
	width: 100%;
	height: 240px;
	box-shadow: rgba(0, 0, 0, 0.1);
	left: 40px;
	z-index: 1;
	text-align: center;
}

footer a {
	text-decoration: none;
}

footer {
	display: grid;
	grid-template-columns: 50% 50%;
	background-color: #393939;
}

#logofooter {
	float: left;
	margin: 10px 0 0 50px;
	padding-top: 25px;
	padding-left: 20px;
}

#contactfooter {
	float: right;
	margin-right: 90px;
}

.contact-text1 {
	color: #F4A47C;
	font-family: Raleway;
	font-size: 34px;
}

.contact-text2 {
	color: #FEE9E6;
	font-family: Source Sans Pro;
	font-size: 24px;
}

/* Boxes media queries*/

/* Boxes media queries*/

@media (max-width: 800px) {
	#boxes {
		grid-template-columns: 1fr;
	}

.box1, .box2, .box3 {
	width: auto;
}
}

@media(max-width: 800px) {
	#content-projects {
		grid-template-columns: 1fr;
	}

.description-project, #portfolio-image {
	width: auto;
}
}

@media(max-width: 800px) {
	header nav {
		grid-template-columns: 1fr;
	}
#logonav, #projectsnav, #skillsnav, #aboutnav, #contactnav {
	width: auto;
}
}

@media(max-width: 800px) {
	#banner {
		grid-template-columns: 1fr;
	}
#banner, #description {
	width: auto;
}
}

@media(max-width: 800px) {
	#content-skills {
		grid-template-columns: 1fr;
	}
.description-skills, .description-learning {
	width: auto;
}
}

@media(max-width: 800px) {
	footer {
		grid-template-columns: 1fr;
	}
#logofooter, #contactfooter {
	width: auto;
}
}





