body {
  color: #2e2e2e;
  font-size: 18px;
  background-color: #272727;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

li {
  text-decoration: none;
}

section {
  padding: 3rem 0;
}

/* navigation styles start here */

#nav-list {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  font-size: 30px;
  margin-right: 15px;
}

#nav-list li {
  display: flex;
  align-items: center;
}

#nav-list a {
  text-decoration: none;
  color: #fee9e6;
  font-family: Source Sans Pro;
}

.hero {
  display: flex;
  justify-content: space-between;
  background-color: #272727;
}

.material-icon,
.icon-text {
  vertical-align: middle;
}

.icon-text:hover {
  color: #f4a47c;
}

.material-icon {
  margin-right: 8px;
  padding-left: 10px;
}

.icon-text {
  padding-right: 20px;
  padding-left: 5px;
}

.logo {
  height: 80px;
  margin: 50px;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: 0;
}

.hamburger:hover {
  color: #f4a47c;
}

/*banner styles start here*/

#banner {
  display: flex;
  justify-content: space-around;
  padding: 60px;
  align-items: center;
  background-color: #fee9e6;
  text-align: center;
}

#hi {
  font-family: Source Sans Pro;
  color: #2e2e2e;
  font-weight: bold;
  font-size: 24px;
}

#name {
  font-family: Raleway;
  color: #f4a47c;
  font-weight: bold;
  font-size: 70px;
}

#description {
  text-align: center;
  font-family: Source Sans Pro;
  color: #2e2e2e;
  font-size: 24;
  padding-bottom: 30px;
  font-weight: bold;
  background-color: #fee9e6;
}

#imagebanner {
  border-radius: 20px 25%;
}

/* boxes styles start here */

#boxes {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  margin: 40px;
  text-align: left;
  text-decoration: none;
}

.box1 {
  background-color: #393939;
  margin: 5px;
  padding: 40px;
}

.box2 {
  background-color: #393939;
  margin: 5px;
  padding: 40px;
}

.box3 {
  background-color: #fee9e6;
  margin: 5px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.headingbig {
  font-family: Raleway;
  font-size: 50px;
  color: #f4a47c;
}

#boxes a {
  color: #fee9e6;
  text-decoration: none;
  font-family: Source Sans Pro;
  font-weight: bold;
  font-size: 24px;
}

#boxes ul {
  list-style: none;
  text-align: left;
  font-family: Source Sans Pro;
  color: #fee9e6;
  padding-top: 40px;
  padding-left: 8px;
  font-size: 20px;
}

#aboutmetext {
  font-family: Source Sans Pro;
  color: #272727;
  font-size: 20px;
  font-weight: bold;
}

.boximage,
span {
  vertical-align: middle;
}

.boximage {
  padding-bottom: 3px;
  margin: 0px;
  padding-left: 0px;
}

/*content projects styles start here*/

#content {
  text-align: center;
}

.headingbig {
  text-align: center;
  padding-top: 40px;
}

.description-project {
  text-align: center;
  font-family: Source Sans Pro;
  color: #fee9e6;
  font-size: 20px;
  padding-right: 50px;
  padding-left: 50px;
}

#portfolio-image {
  width: 100%;
}

.project-image {
  justify-self: center;
}

#content-projects {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
  margin: 40px;
  padding: 30px;
  align-items: center;
}

#portfolio-image {
  align-self: center;
}

/*content skills styles start here*/

.description-skills {
  font-family: Source Sans Pro;
  color: #fee9e6;
  font-size: 20px;
  text-align: center;
}

.description-learning {
  font-family: Source Sans Pro;
  color: #fee9e6;
  font-size: 20px;
  text-align: center;
}

#content-skills {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
  margin: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

#content-skills img {
  padding-top: 20px;
}

/*footer styles start here*/

footer {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1);
  left: 40px;
  text-align: center;
  background-color: #393939;
}

footer a {
  text-decoration: none;
}

#logofooter {
  float: left;
  margin: 10px 0 0 50px;
  padding-top: 25px;
  padding-left: 20px;
}

#contactfooter {
  float: right;
}

.contact-text1 {
  color: #f4a47c;
  font-family: Raleway;
  font-size: 34px;
}

.contact-text2 {
  color: #fee9e6;
  font-family: Source Sans Pro;
  font-size: 24px;
}

@media only screen and (max-width: 1024px) {
  #nav-list {
    display: none;
    margin-bottom: 40px;
  }

  #nav-list.show {
    display: block;
  }

  #nav-list li {
    padding-top: 20px;
  }

  .hero {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }

  .logo {
    display: none;
  }

  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }

  #banner {
    flex-direction: column;
    padding: 40px 0;
  }
}

@media (max-width: 800px) {
  #boxes {
    grid-template-columns: 1fr;
  }

  .box1,
  .box2,
  .box3 {
    width: auto;
  }

  #content-skills {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }

  .description-skills,
  .description-learning {
    width: auto;
  }

  #content-projects {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }

  footer {
    grid-template-columns: 1fr;
  }

  #logofooter,
  #contactfooter {
    width: auto;
  }
}
